<hr>

<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>
        Copyright &copy; <%= copyright_year %> <%= link_to copyright_text, copyright_link %>
      </p>
    </div>
  </div>
</footer>

