<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%%= content_for?(:title) ? yield(:title) : app_name %></title>

  <%%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%%- if Rails.env.production? -%>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/<%= BootswatchRails::BOOTSTRAP %>/<%%= current_theme %>/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <%%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/<%= BootswatchRails::BOOTSTRAP %>/js/bootstrap.min.js"></script>
<%%- else -%>
  <%%= stylesheet_link_tag current_theme, 'data-turbolinks-track' => true %>
  <%%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
<%%- end -%>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%%= csrf_meta_tags %>
</head>

